*{
	margin: 0;
	padding: 0;
	margin-right: 0;
}
.ram1{
	position: relative;
	/*top: 50px;*/
	color: black;
	margin-top: 0;
}
.parallax{
	background-image: url(CLOTHING/yellowparallax1.jpg);
    background-attachment: fixed;
    width: 100%;
    overflow: hidden;
    height: 600px;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    /*display: none;*/
}
.parallax p{
	font-family: 'Pacifico', cursive;
	position: relative;
	top: 100px;
	font-size: 4.5rem;
	left: 150px;
	align-content: stretch;
	justify-content: center;
	font-weight: bold;
	line-height: 90px;
}
#poster{
	margin-top: 100px;
	/*background-image: url("CLOTHING/Poster1.png");*/
	width: 100%;
	color: red;
	/*font-size: 36px;*/
	/*font-weight: bold;*/
	margin-top: 5px;
}
.navbar{
	background-color: #333333;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 0;
	width: 100%;
	/*padding: 10px;*/
}
.navbar-item{
	color: white;
	padding:15px;
	font-size: 20px;
}
.navbar-item1{
	float: left;
}
.navbar-item:hover{
	color: #00318B;
}
.button{
	position: relative;
	font-size: 3.5rem;
	top: 150px;
	left: 180px;
	background-color: gray;
	width: 350px;
	align-content: center;
}
#ecommerce{
	color: white;
	display: grid;
	grid-template-columns: repeat(auto-fit,25rem);
	grid-template-rows: 1fr 1fr 1fr;
			justify-content: center;
			grid-gap: 50px;
			height: 150vh;
			padding-right: 0;

		}
		#individual{
			/*display: flex;
			flex-direction: column;*/
			overflow: hidden;
			box-shadow: 4px 4px 5px 5px #aaabad;
			background-color: red;
			height: 550px;
			/*padding-right: 0;
			margin-right: 0;
			width: 300px;*/
			

		}
		

	}
	.image{
		height: 90%;
	}
		

		.boxalignment{
			align-content: center;
			position: relative;
			left: 60px;
			top: 10px;
			height: 10%;
		}
		.headingbox{
			text-align: center;
			padding-top: 20px;
		}
		/*.container{
  color:white;
  font-size:20px;
  text-transform:capitalize;
  display:grid;
  grid-template-columns:repeat(auto-fit,20rem);
  justify-content:center;
  grid-template-rows:auto auto;
  grid-gap:10px;
  height:100vh;
  text-align:center;
  vertical-align:center;
  
  
}
.content1{
  background-color:pink;
}
.content2{
  background-color:blue;
}
.content3{
  background-color:red;
}*/
/* @mediascreen and (min-width:600px){
  .container{
    grid-template-columns:repeat(3,1fr);
  }
} */



	
